.ButtonCreate{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.95px solid var(--color3);
    border-radius: 10px;
    width: 160px;
    height: 43px;
    font: normal normal bold 14px/15px Poppins;
    padding: 11.68px 18.27px 11.68px 16px;
    background-color: #03D99D0D;
    color: var(--color3);
    cursor: pointer;
    pointer-events: all;
}

.ButtonCreate svg{
    color: var(--color3);
}

.link{
    cursor: auto;
    text-decoration: none;
    pointer-events: none;
}

.ButtonCreate:active {
    opacity: 0.8;
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
