.NavBar{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border-bottom: 1.5px solid rgba(156, 162, 178, .5);
}


.NavBar img{
    width: 140px;
}

.NavBar-SearchBar{
    position: absolute;
    bottom: 30%;
    left: 30%;
    right: 0;
}

.NavBar-Icons{
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBar-Icons div{
    background-color: var(--color1);
    border-radius: 50%;
    color: white;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;

}