.NavBar{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 20px;
}


.NavBar img{
    width: 140px;
}

.NavBar-SearchBar{
    position: absolute;
    top: 0;
    left: 30%;
    right: 0;
    bottom: 0;
}

.NavBar-Icons{
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBar-Icons div{
    background-color: var(--color1);
    border-radius: 50%;
    color: white;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;

}